@page "{id:int?"

@using Microsoft.AspNetCore.Identity
@using IgnisMercado.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IgnisMercado.Pages.Clientes.IndexModel

@{
    ViewData["Title"] = "Cliente";
}

<h1>Cliente</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].nombre)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].correo)
            </th>

            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model.Cliente.Clientes) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

                    @if (User.IsInRole("Administrador")) 
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id">| Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
